body {
    background-color: #160E0C;
}

.flx {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

img {
    width: auto;
    height: auto;
}

.folder {
    background-image: url(/Assets/GrnRect.jpg);
    /*now the image will need to fit around the content and not the other around*/
}

.klT {

    font-family: "Kalnia", serif;
    font-size: 64px;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.klL {
    font-family: "Kalnia", serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: normal;
}

.noMg {
    margin: 0px;

}

.MgB {
    margin-top: 2px;
    margin-bottom: 40px;
}

.frFT {
    font-size: 40px;
}

.wht {
    color: #F5F5F5;
}

.lYel {
    color: #DED1B7;
}